
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    
}

nav{
    height:70px;
    display: flex;
    justify-content: space-between;
    padding: 0 16px;
    background-color: #cafdff;
}
.logo{
    width: 300px;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding-left: 15px;

}
a{
    color: black;
    font-size: 24px;
}
header{
    background-color: #eadcff;
    height: calc(100vh-70px);
    padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
}
h1{
    font-size: 72px;
}
.sub-header{
    font-size: 36px;
}
button{
    background-color: #05c7cf;
    color: white;
    border: none;
    padding:8px;
    font-size: 24px;
    cursor: pointer;
}
.row{
    width: 100%;
    max-width: 1300px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*

ABOUT

*/

#about{
    padding:48px 0px;
    font-size: 64px;
    text-align: center;
    margin-bottom:24px;
    background-color: #f8ffdc;

}
.section__discriptions{
    display: flex;
    align-items: center;
    justify-content: center;
   
    
}
.about__img{
    width: 40%;
    padding: 0 24px;
}
.section__discriptions--wrapper{
    width: 60%;
    padding: 0 24px;
}
.section__discriptions--para{
font-size: 20px;
text-align: left;
}

/*

DISCORD

*/